<h1>Game Rules</h1>

<p>The point of this game is to be the last person standing. Each week, you will need to submit a vote
for the name of 1 survivor player who you think will NOT be voted out in the upcoming episode. If
your selection is still remaining at the end of the episode then good news, you're still alive! If the
person you voted for is voted off the island or eliminated for some other reason (such as medical
evac, self-elimination, etc.), then you too are eliminated. The catch though, is you are only allowed to
select any given survivor once, and you are only allowed to select players that are still in the game
(duh). Let’s say you vote for Star to stay on the island, and she is not eliminated during that episode,
then you are safe, and you can no longer select her for the remainder of the game. If you accidentally
re-vote for someone who you have previously voted for, then you will be eliminated, and if you do not
submit your vote before the episode airs then you will be eliminated. Sad.
For week 1, you will NOT need to submit a vote. This applies only to week 1 and provides a buffer
to actually get to know the players without risk. This will hopefully make it slightly easier to have more
competition later in the game.<p>
<p>For the final episode, we will have a full reset of the names for the players who have not yet been
eliminated. Even if you’ve voted for the survivors in the past, you will be able to vote for them again
only at this point. I will request you send me the 5 names in order of which they will be
eliminated/finishing place. For guessing the 5th place person correct you’ll receive 1 point, 4th place is
worth 2, 3rd and 2nd both worth 3 points, and 1st place being worth 5, for a potential total of 14.
Whoever scores the most points wins. Additionally, for the top 3 players you select, you will need to
indicate how many jury votes you think they will receive. This will hopefully provide even more
nuance to avoid another 7-way tie. The money will be split between the top 3 point scorers, with the
breakdown determined based on how many people are in the pool.</p>
<p>I will be facilitating keeping track of all the votes in an excel sheet via the google form and will need
everyone to submit their votes through the link by 7 PM the day the episode airs at the latest,
though I would encourage you to vote as early as possible. After the episode, I'll send out the results
showing who everyone has voted for and who has been eliminated. I’ll send out two weekly emails,
one on the day after the episode showing the results and asking for the next week’s picks and
containing the new voting link, and a follow up reminder on the Wednesday morning to get your picks
in. That being said, I would strongly advise everyone to put a reminder in their calendars to not
forget.</p>
<p>2 final items about the voting system. 1) the vote link will be different each week, so please make
sure you are using the most up-to-date link otherwise it’s kind of a mess for me. 2) you will have to
keep track of the people who you’ve already voted for so that you don’t have a repeated vote. The
google form will show all the contestants left in the game, so its up to you to make sure you don’t
repeat a vote.</p>