<div class="container mx-auto px-4 py-8 max-w-4xl">
  <div class="bg-white rounded-lg shadow-sm overflow-hidden">
    <div class="p-6">
      <h1 class="text-3xl font-bold text-gray-900 mb-6">Game Rules</h1>

      <div class="prose prose-lg max-w-none">
        <div class="mb-8">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">Basic Rules</h2>
          <p class="text-gray-600 mb-4">
            The point of this game is to be the last person standing. Each week, you will need to submit a vote
            for the name of 1 survivor player who you think will NOT be voted out in the upcoming episode. If
            your selection is still remaining at the end of the episode then good news, you're still alive! If the
            person you voted for is voted off the island or eliminated for some other reason (such as medical
            evac, self-elimination, etc.), then you too are eliminated.
          </p>
          <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 mb-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <p class="text-sm text-yellow-700">
                  The catch: you are only allowed to select any given survivor once, and you are only allowed to select players that are still in the game.
                </p>
              </div>
            </div>
          </div>
          <p class="text-gray-600">
            For week 1, you will NOT need to submit a vote. This applies only to week 1 and provides a buffer
            to actually get to know the players without risk. This will hopefully make it slightly easier to have more
            competition later in the game.
          </p>
        </div>

        <div class="mb-8">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">Final Episode Rules</h2>
          <p class="text-gray-600 mb-4">
            For the final episode, we will have a full reset of the names for the players who have not yet been
            eliminated. Even if you've voted for the survivors in the past, you will be able to vote for them again
            only at this point.
          </p>
          <div class="bg-blue-50 border-l-4 border-blue-400 p-4 mb-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <p class="text-sm text-blue-700">
                  You will need to submit the 5 names in order of which they will be eliminated/finishing place. Points are awarded as follows:
                </p>
                <ul class="mt-2 text-sm text-blue-700 list-disc list-inside">
                  <li>5th place: 1 point</li>
                  <li>4th place: 2 points</li>
                  <li>3rd place: 3 points</li>
                  <li>2nd place: 3 points</li>
                  <li>1st place: 5 points</li>
                </ul>
              </div>
            </div>
          </div>
          <p class="text-gray-600">
            Additionally, for the top 3 players you select, you will need to indicate how many jury votes you think they will receive. This will hopefully provide even more nuance to avoid another 7-way tie. The money will be split between the top 3 point scorers, with the breakdown determined based on how many people are in the pool.
          </p>
        </div>

        <div class="mb-8">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">Voting Process</h2>
          <p class="text-gray-600 mb-4">
            I will be facilitating keeping track of all the votes in an excel sheet via the google form and will need
            everyone to submit their votes through the link by 7 PM the day the episode airs at the latest,
            though I would encourage you to vote as early as possible.
          </p>
          <div class="bg-green-50 border-l-4 border-green-400 p-4 mb-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <p class="text-sm text-green-700">
                  After each episode, I'll send out two weekly emails:
                </p>
                <ul class="mt-2 text-sm text-green-700 list-disc list-inside">
                  <li>One on the day after the episode showing the results and asking for the next week's picks</li>
                  <li>A follow-up reminder on Wednesday morning to get your picks in</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bg-red-50 border-l-4 border-red-400 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <p class="text-sm text-red-700">
                  Important notes about the voting system:
                </p>
                <ul class="mt-2 text-sm text-red-700 list-disc list-inside">
                  <li>The vote link will be different each week - make sure you're using the most up-to-date link</li>
                  <li>You must keep track of the people you've already voted for to avoid repeated votes</li>
                  <li>The google form will show all contestants left in the game</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>